@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&display=swap');

* {
 font-family: 'Josefin Sans', sans-serif;
}

html {
 scroll-behavior: smooth;
 overflow-x: hidden;
}

::-webkit-scrollbar {
 width: 0px;
}

body{
 padding: 20px;
 margin: 0;
 background-color: #DEE0E640;
}

.colors-box {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap: 5px;
}

.single-card {
 width: 200px;
 height: 180px;
 display: flex;
 flex-direction: column;
 border-radius: 20px;
 align-items: center;
 justify-content: center;
 position: relative;
 transition: .3s;
 cursor: pointer;
}

.single-card .content {
 text-align: center;
 padding: 8px 25px;
 border-radius: 10px;
 display: none;
}

.single-card p {
 margin: 0;
 color: #0D0D0D;
 font-weight: 600;
}

.single-card:hover {
 transform: scale(1.02);
}

.single-card:hover .content {
 background: #D6D6DC9C;
 display: block;
}

.single-card button {
 width: 42px;
 background-color: transparent;
 border: 0px;
 border-radius: 9px;
 margin-top: 7px;
 padding: 5px 6px;
 cursor: pointer;
}

.single-card button img {
 width: 100%;
}

.copy-alert {
 font-size: 12px;
 color: #808080;
 position: absolute;
 bottom: 20px;
}

.form-colors {
 text-align: center;
 margin: 4% 0%;
}

.form-colors h1 {
 font-size: 4rem;
 line-height: 2.5rem;
 font-weight: 900;
 color: #05B0FF;
 text-shadow: 2px 3px 0px #fff;
}

.form-colors input[type="text"] {
 width: 30%;
 font-size: inherit;
 padding: 12px 13px;
 outline: none;
 border: 0;
 border-radius: 10px 0px 0px 10px;
}

.form-colors input[type="submit"] {
 border: 0;
 outline: none;
 padding: 12px;
 font-size: inherit;
 border-radius: 0px 10px 10px 0px;
 margin-left: -9px;
 background-color: #05B0FF;
 color: #FFFFFF;
 transition: 0.3s;
}

.form-colors input[type="submit"]:hover {
 background-color: #05B0FFA2;
 cursor: pointer;
}

.form-colors form {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 10px;
}

.error {
 font-size: 16px;
 font-weight: 600;
 color: #FFFFFF;
 background-color: #F761ACA2;
 width: fit-content;
 margin: 30px auto 0px;
 padding: 6px 15px;
 border-radius: 5px;
}

p.author {
 display: flex;
 justify-content: center;
 font-variant: JIS04;
 margin-top: 3%;
 gap: 7px;
}

p.author a {
 margin-top: 4px;
 text-decoration: none;
 font-weight: 700;
 color: #000000;
}

@media (max-width: 767px) {
 .form-colors input {
  margin-top: -35px;
 }

 .form-colors h1 {
  line-height: 75px;
 }
}